<footer class="footer">
    <div class="footer__inner">
        <div class="footer-one">
            <div class="footer-wn">
                <img src="../../assets/Logo white.png" alt="wn-logo" class="footer-wn-logo">
            </div>
            <div class="footer-info">
                <div class="footer-link">
                    <ul>
                        <li class="footer-link-list">Home</li>
                        <li class="footer-link-list">Discovery</li>
                        <li class="footer-link-list">Photos</li>
                        <li class="footer-link-list">Contact</li>
                    </ul>
                </div>
                <div class="footer-link">
                    <ul>
                        <li class="footer-link-list">About</li>
                        <li class="footer-link-list">Help</li>
                        <li class="footer-link-list">Terms</li>
                        <li class="footer-link-list">Guidlines</li>
                    </ul>
                </div>
                <div class="footer-link">
                    <ul>
                        <li class="footer-link-list">Testimonials</li>
                        <li class="footer-link-list">Advertise</li>
                        <li class="footer-link-list">Integrations</li>
                        <li class="footer-link-list">Careers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-two">
            <input type="email" name="email" id="email" placeholder="Email" class="footer-two-in">    
            <p class="footer-two-desc">Stay in touch with us for the freshest products!</p>    
        </div>
        <div class="footer-three">
            <div class="footer-social"><img src="../../assets/instagram.svg" alt="instagram" class="footer-social-image"></div>
            <div class="footer-social"><img src="../../assets/twitter.svg" alt="twitter" class="footer-social-image"></div>
            <div class="footer-social"><img src="../../assets/facebook.svg" alt="facebook" class="footer-social-image"></div>
            <div class="footer-social"><img src="../../assets/web.svg" alt="web" class="footer-social-image"></div>
        </div>
    </div>
</footer>
