@max767: ~"(max-width: 767px)";
@min768: ~"(min-width: 768px)";
@max1024: ~"(max-width: 1024px)";
@min1025: ~"(min-width: 1025px)";

@font-w: bold;
.image{
    width: 100%;
    height: auto;
}

.font{
    font-weight: @font-w;
    color: var(--title-color);
}

.wn-info{
    background-color: var(--content-color);

    .slides-main{
        display: flex;
        gap: 11px;
        .slides-button{
            width: 38px;
            height: 38px;
            border: 2px solid #CBD0D3;
            background-color: var(--primary-color);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: #FFEAEB;
                border: 2px solid var(--link-color);
            }
    
            .srr{
                transform: rotate(180deg);
            }
        }
    }

    &__inner{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 120px;
        box-sizing: border-box;

        @media @max1024 {
            padding: 0 80px;
        }

        @media @max767 {
            padding: 0 25px;
        }
    }

    &-one{
        padding: 30px 0 40px;

        .trending{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            &-name{
                .font;
                font-size: 24px;
            }
        }

        .trending-details{
            display: flex;
            justify-content: center;

            @media @max767 {
                flex-direction: column;
            }

            .td-card{
                flex: 1 1 auto;
                background-color: var(--primary-color);
                border-radius: 6px;
                border-bottom: 5px solid var(--primary-color);
                transition: 0.5s all;
                margin: auto 20px;

                @media @max767 {
                    margin: 20px auto;
                }
                
                &:hover{
                    border-bottom: 5px solid var(--link-color);
                    cursor: pointer;
                    box-shadow: 5px 5px 10px #00000029;
                }

                &-image{
                    width: 100%;
                    height: 180px;
                }

                &__inner{
                    padding: 40px;

                    @media @max767 {
                        padding: 25px;
                    }
                }

                &-title{
                    margin-bottom: 10px;
                    .font;
                    font-size: 16px;
                }

                &-description{
                    color: var(--description-color);
                }

                &-time{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-top: 10px;
                    color: var(--description-color);
                }
            }
        }
    }

    &-two{
        .hn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 31px;

            &-name{
                .font;
            }
        }

        .hn-details{
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @media @max1024 {
                flex-direction: column;
            }

            &-one{
                display: flex;
                flex-direction: column;
                gap: 40px;
                max-width: 760px;
                height: auto;

                .hn-do-card{
                    height: auto;
                    position: relative;
                    color: var(--primary-color);
                    min-height: 300px;
                    max-height: 430px;
                    margin: 20px 0;

                    &-image{
                        .image();
                        min-height: 300px;
                    }

                    &-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 40px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;

                        @media @max767 {
                            padding: 32px 24px;
                        }

                        &-city{
                            font-size: 16px;
                            font-weight: @font-w;
                        }

                        &-title{
                            font-size: 24px;
                            font-weight: @font-w;

                        }

                        &-description{
                            margin: 10px 0;
                        }

                        &-time{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            color: var(--description-color);
                            font-size: 13px;
                            color: #CBD0D3;
                        }
                    }
                    
                }
            }

            &-two{
                display: flex;
                flex-direction: column;
                gap: 40px;
                
                @media @min1025 {
                    max-width: 360px;
                }

                @media @max1024 {
                    flex-direction: row;
                }
                
                .hn-dt-card{
                    max-height: 272px;
                    margin: 20px auto;

                    @media @max1024 {
                        margin: auto 20px;
                    }

                    @media @max767 {
                        margin: 20px auto;
                    }

                    &-image{
                        .image;
                    }

                    &-title{
                        margin: 20px 0 10px;
                        .font;
                        font-size: 16px;
                    }

                    &-time{
                        display: flex;
                        gap: 10px;
                        color: var(--description-color);

                        .time-desc{
                            font-size: 13px;
                        }

                        .news{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &-three{
        padding: 100px 0;
        display: flex;
        justify-content: center;
        column-gap: 21px;

        @media @max1024 {
            padding: 50px 0;
        }

        @media @max767 {
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
        }

        .mi{
            max-width: 374px;

            &-image{
                width: 100%;
            }

            &-title{
                margin-top: 29px;
                font-size: 24px;
                .font;
            }

            &-description{
                margin: 10px 0 29px;
                color: var(--description-color);
            }

            &-link{
                display: flex;
                align-items: center;
                gap: 20px;
                height: 16px;
                cursor: pointer;

                .a-link{
                    font-size: 15px;
                    color: var(--link-color);
                    transition: 0.5s all;
                    &:hover{
                        color: #343638;
                    }
                }

                &-arrow{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

